<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week5_Bai4_DismissKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3867645F1EBC383F004D97AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>386764731EBC3840004D97AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3867647E1EBC3840004D97AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
